<div id="landing-header">
  <h1><%= t('title.welcome_yelpcamp') %></h1>
  <%= link_to t('button.view_all_campgrounds'), campgrounds_path, class: 'btn btn-lg btn-success' %>
</div>

<ul class="slideshow">
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
</ul>